<div class="f-container">
    <div class="f-item">
        <input [(ngModel)]="textInputData" type="text" placeholder="Enter text">
<!--         <button (click)="onSubmit()">Show</button> -->
        <select [(ngModel)]="selectedName" placeholder="Select">
            <option *ngFor="let section of data" [value]="section.name">{{ section.name }}</option>
        </select>
    </div>
    <div class="f-item">
        <div class="f-container2" *ngFor="let section of data">
            
            <div class="allitems" *ngIf="section.name == textInputData">
                <h5 *ngIf="selectedName==textInputData" style="color: green;">{{section.name}}</h5>
                <h5 *ngIf="selectedName!=textInputData">{{section.name}}</h5>
                <ul class="list-unstyled" *ngFor="let item of section.items">
                    <li class="mb-2">{{item}}</li>
                </ul>
            </div>
            <div class="allitems" *ngIf="textInputData != 'Links' && textInputData!='Guides' && textInputData!='Projects'">
                <h5 >{{section.name}}</h5>
                <ul class="list-unstyled" *ngFor="let item of section.items">
                    <li class="mb-2">{{item}}</li>
                </ul>
            </div>
        
        </div>

    </div>
</div>
